#card.mode-forbidden .word {
  position: absolute;
  top: 3.5%;                /* punto di riferimento verticale */
  left: 50%;              /* centro orizzontale */
  transform: translateX(-50%); /* centra il layer orizzontalmente */
  
  width: 90%;             /* larghezza layer */
  height: 12%;
  
  text-align: center;      /* centra ogni riga */
  font-size: 28px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente le righe all’interno del layer */
  text-align: center;      /* centra orizzontalmente le righe */

   /* Gestione wrap intelligente */
  white-space: normal;        /* permette il wrap normale solo se serve */
  word-break: keep-all;       /* evita di rompere le parole se c'è spazio */
  overflow-wrap: break-word;  /* fallback per lunghe parole senza spazi */
}

#card.mode-forbidden .description {
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  font-size: 14px;
}

#card.mode-forbidden .forbidden-list {
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  list-style: none;
  font-size: 26px;
  padding: 1;
  font-weight: bold;
  margin-bottom: 26px;
  line-height: 1.5;  /* altezza della linea */
}

#card.mode-forbidden .layer {
  color: white;           /* colore bianco */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);  /* opzione: ombra per leggibilità */
}